:host {
  display: block;
}
/* .alert.alert-danger {

  width: 100%;
  float: left;
  text-align: center;
  padding: 0;
  background: transparent;
  border: 0;
  margin: 0;
  font-size: 13px;
}

.error-msg {
  color: #a94442;
}

.fix-error-icon {
  top: 27px;
} */
